<link rel="stylesheet" type="text/css" href="index.css">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scassle=1">
    <title>Simford Dong</title>
    <style type="text/css">
    </style>
</head>

<body>
  <div class=row>
      <div class=left>
      <h1>Simford Dong</h1>
        <p>Hi, I'm a  </p>
        <p> My research interest is </p>
        <p> Feel free to email me about </p>
        <p> Links: [<a href="mailto:simford.dong@gmail.com">Email</a>] [<a href="files/Simford_Dong.pdf">CV</a>] </p>
    </div>
    <div class="container">
      <img  src="img/simford.jpg">
    </div>

  </div>


</body>

</html>

